# ==========================================
# CONFIGURACIONES GLOBALES DEL SERVIDOR
# ==========================================
DOMAIN_NAME=fernandotll.dev
ALLOWED_HOSTS=fernandotll.dev,www.fernandotll.dev,admin,backend,frontend

# ==========================================
# DJANGO / BACKEND SETTINGS
# ==========================================
# (Genera una clave larga y aleatoria para producción)
SECRET_KEY=django-insecure-PON_AQUI_UNA_CLAVE_SUPER_SECRETA_Y_LARGA
DEBUG=False

# ==========================================
# BASE DE DATOS (POSTGRESQL)
# ==========================================
POSTGRES_DB=curamente_db
POSTGRES_USER=curamente_user
POSTGRES_PASSWORD=una_contrasena_segura_para_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# ==========================================
# BROKERS Y CACHE (CELERY & REDIS)
# ==========================================
CELERY_BROKER_URL=redis://redis:6379/0

# ==========================================
# AUTENTICACIÓN GOOGLE OAUTH
# ==========================================
# El Backend y el Frontend usan esta misma variable
GOOGLE_CLIENT_ID=tu_cliente_id_de_google_aqui.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=tu_secreto_de_google_aqui

# ==========================================
# FRONTEND BUILD ARGS
# ==========================================
VITE_API_BASE_URL=https://fernandotll.dev/api
VITE_OAUTH_CLIENT_ID=tu_cliente_id_de_google_aqui.apps.googleusercontent.com