[importlinter]
root_packages =
    users
    providers
    appointments
    config

[importlinter:contract:1]
name = Layered Architecture
type = layers
layers =
    appointments
    providers
    users
